* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit; 
}
html{
    width:100%;
    height: 100%;
}
body {
    width: 100%;
    margin: 0 auto;
}
header{
    width: 100%;
    margin: 0 auto;
}
.coursemosLogo {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    height: 81px;
    display: flex; /* 수평 정렬 */
    justify-content: center; /* 중앙정렬 */
    align-items: center; /* 가운데 정렬 */
}
.coursemosLogo > h1 > a {
    display: inline-block; 
    background-image: url('css/image/logo.png');
    width: 176px;
    height: 26px;
}
.coursemosLogo > div.menubar > button {
    background-image: url('/css/image/menu.png');
    border:none;
    width: 34px;
    height: 34px;    
}
.menubar {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    margin-left: auto;    
}
.menubar > h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.menubar > h3.gray > a {
    color: #b4b4b4;
}
.menubar > h3.black > a {
    color: #222;
}
div.menubar > h3.line {
    top: calc(50% - 8px);
    left: calc(var(--navigation-height) / 2 * -1);
    width: 1px;
    height: 16px;
    background: #D9D9D9;
    content: " ";
}
/* 상단 navbar media */
@media(width < 1024px) {
    nav {
        max-width: 1024px;
    }
}
@media(width < 810px) {
    nav {
        max-width: 768px;
        display: inline-block;
    }
    .menubar > h4 {
        display:none;
    }
}

/* ##################################################### */
.about {
    max-width: 1280px;
    width: 100%;
    height: 81px;
    margin: 0 auto;
    height: 81px;
    margin-top: 240px;
    display: flex; /* 수평 정렬 */
    justify-content: center; /* 중앙정렬 */
    align-items: center; /* 가운데 정렬 */
    padding-bottom: 40px;
}
.about > h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 100px;
}
.about > .about-menubar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    margin-left: auto;  
}
.about-menubar > h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.about-menubar > h3.gray > a {
    color: #b4b4b4;
}
.about-menubar > h3.black > a {
    color: #222;
}
@media(width < 810px) {
    .about {
        width: 680px;
        height: 100%;
        margin: 0 auto;
        margin-top: 40px;
        display: block;
        padding-left: 30px;
        padding-right: 30px;
        > h1 { 
            font-size: 11vw;
        }
        > .about-menubar {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            gap: 40px;
            font-size: 3vw;
        }
    }
}
@media(width < 680px) {
    .about-menubar > h3 > a {
        font-size: 3vw;
    }
}
/* ##################################################### */

#main {
    width: 100%;
    height: clamp(480px, 56vw, 780px);
    background-image: url('/css/image/main.png');
    background-size: cover;
    background-position: 50% 50%;
}
#main > .main-text {
    width: 1280px;
    height: 670px;
    padding-top: 110px;
    margin: 0 auto;
    @media (max-width: 1390px) {
        width: 90%;
    }
}
#main > .main-text > h2 {
    color: #FFF;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
#main > .main-text > .main-sidetext {
    display: flex;
    color: #FFF;
    justify-content: space-between;
    padding-top: 310px; /* 반응형 */
}
@media (max-width: 1280px) {
    #main > .main-text > .main-sidetext {
        padding-top: 25%;
    }
}
@media (max-width: 1080px) {
    #main > .main-text {
        padding-top: 10%;
    }
    #main > .main-text > .main-sidetext {
        padding-top: 10%;
        display: block;
    }
    #main > .main-text > .main-sidetext aside br {
        display: none;
    }
    #main > .main-text > .main-sidetext > h4 {
        margin-bottom: 5%;
    }
}

#main > .main-text > .main-sidetext > h4 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}
#main > .main-text > .main-sidetext > aside {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    opacity: 0.7;
    @media (max-width: 1080px) {
        aside br {
            display: none; /* <br> 태그 숨기기 */
        }
    }
}

.pseudo-elements {
    position: relative;
    /* display: xsflex; */
}
.pseudo-coursemos::before {
    position: absolute;
    content: "COURSEMOS";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    top: 121px;
    left: -69px;
    width: 80px;
    height: 24px;
    transform: rotate(90deg); /* 90도 회전 */
    color: #fff;
    transform-origin: top left;
}
.pseudo-coursemos::after {
    position: absolute;
    content: ' ';
    top: 210px;
    left: -80px;
    width: 1px;
    height: 444px;
    opacity: 0.6;
    background: #FFF;
}

/* 복붙 */
header > .mainContainer {
    background: url("/css/image/main.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 780px;
    margin-top: 160px;
    text-align: center;
    position: relative;
    display: flex;
}
.bigContainer {
    float: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;  
    width: 1280px;
    height: 100%;
    position: relative;
}
.mainContainer > .bigContainer > .left {
    position: absolute;
    left: -106px;
}
.mainContainer > .bigContainer > .top > h2{
    position: absolute;
    left: 0px;
    color: #fff;
    top: 110px;
    text-align: left;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
}
.mainContainer > .bigContainer > .top > p {
    position: absolute;
    left: 0px;
    color: #fff;
    bottom : 156px;
    text-align: left;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}
.top > aside {
    position: absolute;
    left: 1000px;
    color: #fff;
    bottom : 114px;
    text-align: left;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    opacity: 0.7;
}

/*  */
.image-container {
    background: url("/css/image/main.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 780px;
    margin-top: 40px;
    text-align: center;
    position: relative;
    display: flex;
}
.what {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.image-main-container {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.image-main-container::before {
    position: absolute;
    content: "COURSEMOS";
    font-size: 12px;
    top: 121px;
    /* left: 227px; */
    width: 80px;
    height: 24px;
    /* line-height: 24px; */
    transform: rotate(90deg); /* 90도 회전 */
    font-weight: 700;
    color: #fff;
    transform-origin: top left;
}
.image-main-container::after {
    position: absolute;
    content: ' ';
    top: 216px;
    left: 216px;
    width: 1px;
    height: 444px;
    opacity: 0.6;
    background: #FFF;
}

.image-main-container > h2 {
    position: absolute;
    left: 320px;
    color: #fff;
    top: 110px;
    text-align: left;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
}
.image-main-centerLine {
    position: absolute;
    top: 488px;
    left: 320px;
    width: 1280px;
    height: 1px;
    background: #E6E6E6;
    opacity: 0.2;
}
.image-main-container > p.image-main-right {
    position: absolute;
    left: 320px;
    color: #fff;
    bottom : 156px;
    text-align: left;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}
.image-main-container > aside {
    position: absolute;
    left: 1311px;
    color: #fff;
    bottom : 114px;
    text-align: left;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    opacity: 0.7;
}

#expand {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center; /* 세로 방향 중앙 정렬 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    > div.expand-main {
        padding-top: 160px;
        padding-bottom: 160px;
        > div {
            padding-bottom: 40px;
        }
        > div > h4 {
            color: #222;
            font-size: 46px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25;
            > span {
                color: #b4b4b4;
                font-size: 46px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.25;
            }
        }
    }
}
@media(width < 1024px) {

}
@media(width < 810px) {
    #expand {
        width: 90vw;
        margin: 0 auto;
        > div.expand-main {
            padding: 119px 0px 100px 0px;
            > div > h4 {
                color: #222;
                font-size: 2rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.25;
                > span {
                    color: #b4b4b4;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.25;
                }
            }
        }
    }
}


/* !!!!! */
#main {
  }
  .grid {
    border: 1px solid green;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 140px;
    @media (max-width: 1300px) {
        width: 100%;
    }
    @media (max-width: 540px) {
        grid-template-columns: repeat(1, 1fr);
    }
  }
  .card-container {
    border: 1px solid black;
    width: 100%;
    position: relative;
    /* background-color: green; */
  }
  .card-container::after {
    display: block;
    content: "";
    padding-bottom: 100%;
  }
  .card-box {
    border: 1px solid blue;
    position: absolute;
    width: 100%;
    height: 100%;
    > b {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
    }
  }
#main > .grid > .card-container > .card-box > div > .image-1 {
    background-image: url('/css/image/card-1.png');
    content: '';
    width: 120px;
    height: 120px;
}






main.container {
    border: 1px solid tomato;
    width: 100%;
    margin: 0 auto;
}
main.container > .main {
    background-color: #999;
    width: 80%;
    margin: 0 auto;
    display: grid;
}
main.container > .main > .mainCard {
    border: 1px solid green;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 140px;
}
main.container > .main > .mainCard > .item {
    background: red;
    max-width: 53.333rem;
} 
main.container > .main > .mainCard > .item > b {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}
main.container > .main > .mainCard > .item > i {
    /* 여기하자 */
} 

/* 그림 */
.item > i.image-1 {
    display: block;
    background-image: url('css/image/card-1.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.item > i.image-2 {
    display: block;
    background-image: url('css/image/card-2.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.item > i.image-3 {
    display: block;
    background-image: url('css/image/card-3.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.item > i.image-4 {
    display: block;
    background-image: url('css/image/card-4.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.item > i.image-5 {
    display: block;
    background-image: url('css/image/card-5.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.item > i.image-6 {
    display: block;
    background-image: url('css/image/card-6.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.item > i.image-7 {
    display: block;
    background-image: url('css/image/card-7.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/* 그림끝 */

#footer {
    display: block;
    background: #000;
    width: 100%;
    height: 738px;
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
}
#footer > div.left {
    margin: 0 auto;
    width: 80%;
    max-width: 1280px;
    min-width: 1024px;
}
#footer > div.left > ul {
    display: flex;
    padding-bottom: 60px;
}
@media(max-width: 1120px) {
    #footer > div.left {
        width: 80%;
    }
    #footer > div.left > ul {
    }
}
#footer > div.left > ul > li.left {
    width: 37.5%;
}
#footer > div.left > ul > li.left > ul {
    display: grid;
    gap: 8px;
}
#footer > div.left > ul > li.left > ul > a {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    
}
#footer > div.left > ul > li.right {
    width: 200px;
}
#footer > div.left > ul > li.right > b {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    display: block;
    padding-bottom: 24px;
}
#footer > div.left > ul > li.right > ul {
    display: grid;
    gap: 16px;
}
#footer > div.left > ul > li.right > ul > li {
    display: grid;
    gap: 16px;
}
#footer > div.left > ul > li.right > ul > li > a {
    color: #6f6f6f;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
footer > div.right::before {
    position: absolute;
    content: ' ';
    width: 100%; /* 전체 화면 너비로 설정 */
    height: 1px;
    background: #222;
    left: 0;
    transform: translateY(-50%);
}


.footer {
    background: #000;
    width: 100%;
    margin-top: 160px;
}
.footerTop {
    background: #000;
    display: flex;
    width: 100%;
    height: 392px;
}
.footer-container {
    display: inline-block;
    position: relative;
    width: 480px;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    /* margin-top: 120px; */
    line-height: 32px;
    top: 120px;
}
.footer-container > div {
    display: flex; /* 자식 요소를 가로로 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 10px; /* 각 요소 사이의 간격을 조절 (원하는 값으로 조정) */
}
.footer-container > div > a {
    color: #fff;
}
.footer-container > div > a.icon::after {    
    position: absolute;
    display: inline-block;
    background-image: url('/css/image/footer-top-icon.png');
    content: "  ";
    width: 24px;
    height: 24px;
    margin-right: 8px; 
}



footer > .bottom::before {
    position: absolute;
    content: ' ';
    width: 100%; /* 전체 화면 너비로 설정 */
    height: 1px;
    background: #222;
    left: 0;
    transform: translateY(-50%);
}

#top {
    width: 100%;
    height: 392px;
    color: #000;
}
#top > .top-container {
    display: flex;
    top: 120px;
    margin: auto;  
    width: 1280px;
    height: 182px;
    position: relative;
}
#top > .top-container > div.left-text {
    width: 480px;
    display: inline-grid;
    position: relative;
    text-align: left;
    color: #FFF;
}
#top > .top-container > div.left-text > a {
    color: var(--neutrals-white, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
#top > .top-container > div.right-text {
    width: 800px;
    position: relative;
}
.navigation {
    display: flex;
}
.navigation > li {
    width: 200px;
    height: 212px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.navigation > li > b {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.navigation > li > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #6f6f6f;
}
.navigation > li > ul > li > a{
    color: #6f6f6f;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

footer > .bottom {
    width: 80%;
    height: 346px;
    margin: 0 auto;
    color: #000;
    max-width: 1280px;
    min-width: 1024px;
}
.bottom-container {
    display: flex;
    padding-top: 60px;
    margin: auto;  
    position: relative;
}
.bottom-container > div.left-text {
    position: relative;
    text-align: left;
    width: 68.75%;
    color: #FFF;
}
.left-text > h4 {
    background-image: url('/css/image/footer-coursemos-logo.png');
    background-repeat: no-repeat;
    width: 176px;
    height: 26px;    
}
.left-text > b {
    display: block;
    width: 1048px;
    margin-top: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.left-text > address, small {
    margin-top: 8px;
    color: #6f6f6f;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.bottom-container > div.right-text {
    display: block;
    position: relative;
    color: #FFF;
    padding-top: 50px;
}
.right-text > b {
    display: block;
    top: 110px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
.right-text > div > a.num {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; 
}
.right-text > .email > a{
    color: #6f6f6f;
    margin-top: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}




  #dashboard {
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
  }
  #dashboard > .container {
    width: 1280px;
    margin: 0 auto;
  }
  #dashboard > .container> .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 140px;
  }
  @media(max-width: 1300px) {
    #dashboard {
        padding-top: 0px;
        padding-bottom: 100px;
    }
    #dashboard > .container {
        width: 100%;
    }
    #dashboard > .container> .card {
        gap: 90px;
    }
  }
  #dashboard > .container> .card > div {
    position: relative;
  }
  #dashboard > .container> .card > div > b {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;     
  }
  #dashboard > .container> .card > div > i {
    width: 120px;
    height: 120px;
    right: 0px;
    top: 0px;
    margin: 0 30px;
    position: absolute;
  }
  #dashboard > .container> .card > div > i.image-1 {
    
    background-image: url('css/image/card-1.png');
    background-repeat: no-repeat;
  }
  #dashboard > .container> .card > div > p {
    color: #6f6f6f;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 23%;
    padding-left: 18%;
  }
   /* 여기! */
   @media(max-width: 970px) {
    #dashboard > .container {
        width: 80%;
    }
    #dashboard > .container> .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;
    }
    #dashboard > .container> .card > div > i {
        width: 120px;
        height: 120px;
        right: 0px;
        top: 0px;
        margin: 7% 0%;
        position: absolute;
    }
  }