* {
    margin: 0px;
    padding: 0px;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.turn {
    margin-top: 320px;
    margin-left: 320px;
}
/* nav.html */
.nav-container {     
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center; /* 요소들을 컨테이너의 중앙으로 정렬 */
    justify-content: space-between; /* 요소들 사이를 동일한 간격으로 */
}
.nav-logobar {
    width: 176px;
    height: 26px;
    max-width: 100%;         
    position: relative;
    left: 320px;   
}
.nav-menubar {
    align-items: center;
    height: 100%; 
    display: flex;
    margin-left: auto;
    margin-right: 18px;
    gap: 40px;
    position: relative;
    right: 341px;
}
/* header.html */
.header-container {
    width: 100%;
    height: 100px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    display: flex;
    /* justify-content: center; 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    margin: 40px;
}
.header-about {
    font-weight: 800;
    font-size: 72px;
    position: relative;
    left: 320px;
}
.header-about-menubar {
    display: flex;
    gap: 40px; /* 요소들의 간격 */
    position: relative;
    left: 750px;
}
.header-gray {
    color: #B4B4B4;
    font-weight: 700;
}
.header-bar {
    width: 1px;
    height: 20px;
}
/* main.html */
.main-container {
    width: 100%;
    height: 780px;
    background: black;
    position: relative;
}
.main-image {
    position: relative;
    width: 100%;
}
.main-logo {
    position: absolute;
    top: 121px;
    left: 227px;
}
.main-line {
    position: absolute;
    top: 216px;
    left: 231px;
}
.main-ems > h2 {
    position: absolute;
    font-style: normal;
    top: 110px;
    left: 320px;
    color: white;
    font-size: 46px;
    font-weight: 700;
}
.main-small > p {
    position: absolute;
    font-style: normal;
    top: 540px;
    left: 320px;
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
}
.main-right > p {
    position: absolute;
    top: 540px;
    left: 1311px;
    color: white;
    font-size: 28px;
    font-weight: 700;
}

/* message.html */
.message-container {
    width: 100%;
    height: 100%;
}
.message {
    top: auto;
    left: auto;
    margin-top: 160px;
    margin-left: 320px;
}
.message-msg-font {
    font-size: 46px;
    font-weight: 500;
    color: #222;
}
.message-grayfont {
    font-size: 46px;
    font-weight: 500;
    color: #B4B4B4;
}
/* 여기에 card가 들어와야함 */
.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* position: relative; */
    top: 250px;
}
.card {
    width: 510px;
    height: 500px;
}
.card-text-main {
    font-size: 32px;
    font-weight: 700;
}
.card-text-image {
    position: relative;
    top: -40px;
    left: -60px;
    float: right;
}
.card-container > .card-p {
    font-size: 16px;
    font-weight: 500;
    color: #6f6f6f;
    width: 240px;
}
.card-p {
    font-size: 18px;
    font-weight: 500;
    color: #6f6f6f;
    position: relative;
    top: 120px;
    left: 60px;
}

/* image.html */
.image-container {
    background: #0075F8;
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0; */
    /* padding: 0; */
}
.image-screenImg {
    width: 100%;
    text-align: center;
    
}
.image-display {
    top: 10px;
    position: relative;
}

/* main-bottom */
.main-bottom {
    width: 100%;
    height: 100%;
    margin-top: 160px;
    margin-left: 320px;
}
.main-bottom-large {
    top: auto;
    left: auto;
}
.main-bottom-h4 {
    font-size: 46px;
    font-weight: 500;
    color: #222;
}
.main-bottom-small {
    margin-top: 60px;
}
.main-bottom-p {
    font-size: 28px;
    font-weight: 700;
    color: #6f6f6f;
}
.main-bottom-card {
    margin-top: 40px;
    display: flex;
    align-items: center; /* 요소들을 컨테이너의 중앙으로 정렬 */
    gap: 20px;
}
.main-bottom-img {
    width: 80px;
    height: 80px;  
}
.main-bottom-card > div > .main-bottom-h1 > h2 {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}
.main-bottom-card > div > .main-bottom-p > p {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #6f6f6f;
    width: 240px;
}

/* footer */
.footer-top {
    background: black;
    color: white;
    width: 100%;
    height: 392px;
    margin-top: 160px;
    display: flex;
}
.footer-top-left {
    width: 480px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 120px;
    margin-left: 320px;
    line-height: 24px;
}
.footer-top-right {
    display: flex;
    gap: 100px; 
    line-height: 45px;
    margin-top: 120px;
}
.footer-top-right > div > h4 {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
}
.footer-top-right > div > p {
    color: #6f6f6f;;
    font-size: 18px;
    font-weight: 700;
}
.footer-bottom-line {
    background: black;
    position:relative;
}